.logo {
	display: inline-block;
	color: #FA6980;
	vertical-align: middle;
	font-size: 13px;
	font-family: 'Helvetica';
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.nav-li{
	display: inline-block;
	margin-left: 22px;
	font-size: 11px;
	letter-spacing: 0.5px;
	font-family: 'Helvetica';
}
.nav-li-home {
	display: inline-block;
	font-size: 11px;
	margin-right: 5px ;
	margin-left: 92px ;
	letter-spacing: 0.5px;
	font-family: 'Helvetica';
}
.nav{
    color: #343638  
}
.active {
	font-weight: 600;
}
.header-wraper{
	background-color: #F6F8F9;
	padding: 18px 0px 17px 20px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
}
.header-img {
	width:30px ;
	height: 30px;
	display: inline-block;
	margin-left: 40px;
	vertical-align: middle;
}
body {
	padding-top: 65px;
	background-color:#F6F8F9;
}
.h2first{
	margin-top: 25px;
	margin-bottom: 40px;
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: 500;
}
.div-box{
	width: 1160px;
	height: 410px;
	margin:0 auto;
} 
.image-wraper,
.image-wraper-center 
{
	display: inline-block;
	width: 360px;
	height: 350px;
	position: relative;
	z-index: 5;
}
.image-wraper-center{
	margin-left:40px ;
	margin-right: 40px ;
}
.text-image{
	position: absolute;
	top: 28px;
	left: 40px;
	z-index:6 ;
	font-family: 'Helvetica';
	caption-side:;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Acumin Pro';
}
.text-image2{
	position: absolute;
	top: 244px;
	left: 40px;
	z-index:6 ;
	color: #A6ADB4;
	font-size: 13px;	
}
.text-image3{
	position: absolute;
	top: 264px;
	left: 40px;
	z-index:6 ;
	color: #A6ADB4;
	font-size: 13px;
}
.text-image4{
	position: absolute;
	top:294px ;
	left:40px;
	z-index:6;
}
.p-img{
	display: inline-block;
	font-family: 'Helvetica';
	vertical-align:center;
	color: #A6ADB4;
	font-size: 13px;
	margin-left: 10px;
}
.container-block{
	width:1170px;
	margin:0 auto;
}
.right-block{
	display: inline-block;
	width:760px ;
	vertical-align: top;	
}
.left-block{
	display: inline-block;
	width: 360px;
	vertical-align: top;
	margin-left: 50px;
}
.img-top{
   margin-bottom: 40px;
}
.img-middle{
	margin: 120px 0;
}
.divh2{
	margin-top: 58px;
	margin-bottom: 40px;
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: 500;
}
.footer-bg{
	background-color: #A6ADB4;
	margin-top: 37px;
	padding-top: 56px;
	padding-bottom: 60px;
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6{
    display: inline-block;
	vertical-align: top;
}
.block2 {
	margin-left: 89.1px;
	margin-right:96.7px ;
}
.block4 {
	margin-left: 110.2px;
	margin-right: 104.9px;
}
.block5 {
	margin-right:153px ;
} 

.nav2,
.nav-2-padding,
.nav-2-padding,
.list1,
.list1-padding,
.list1-padding2,
.list2,
.list2-padding,
.list2-padding2{
	font-size: 13px;
	color: #CBD0D3;
	font-family: 'Helvetica';
}
.logo-2{
	font-weight: 600;
	font-size: 13px;
	color: #FFFFFF;

}
.block5-p{
	font-size: 11px;
	color: #CBD0D3;
	font-family: 'Helvetica'

}
.nav-2-padding,
.list1-padding,
.list2-padding{
	padding: 8px 0px;
}
.nav-2-padding2,
.list1-padding2,
.list2-padding2{
	padding-bottom: 8px;
}
.twit-img{
	display: inline-block;
	margin: 0px 32px ;
}
.fb-img{
	display: inline-block;
	margin-right: 32px;
}
